### 1. Give a count of all videos currently out.

##### Query:  
SELECT COUNT ($*$)  
FROM rental  
WHERE Return_date is null  

##### Output:  
| Count |
|-------|
| 183 |

### 2. Make a list of all customer names who have videos out and how much they owe.

##### Query:  
SELECT Name, sum(rental_rate)  
FROM rental r  
JOIN customer_list c on c.id = r.customer_id  
JOIN inventory i on i.inventory_id = r.inventory_id  
JOIN film f on f.film_id = i.film_id  
WHERE r.Return_date is null  
GROUP BY Name  

##### Output:

### 3.Give the most popular actors by store location.

**for store 1:**
##### Query:  
SELECT $*$ FROM  
(SELECT CONCAT(a.first_name,' ', a.last_name) AS name, s.store_id, address.address, COUNT($*$) AS number  
FROM rental r  
JOIN staff s on r.staff_id = s.staff_id  
JOIN store on store.store_id = s.store_id  
JOIN inventory i on i.inventory_id = r.inventory_id  
JOIN film_actor f on f.film_id = i.film_id  
JOIN actor a on a.actor_id = f.actor_id  
JOIN address on address.address_id = s.address_id  
GROUP BY name, s.store_id, address.address  
HAVING COUNT($*$)>1  
ORDER BY s.store_id) as T  
WHERE T.Store_id = 1  
ORDER BY number DESC  
LIMIT 1  

##### Output:
| Name | Store_id | Address | Number |
|------|----------|---------|--------|
| Susan Davis | 1 | 23 Workhaven Lane | 421 |




**for store 2:**
##### Query:  

SELECT $*$ FROM  
(SELECT CONCAT(a.first_name,' ', a.last_name) AS name, s.store_id, address.address, COUNT($*$) AS number  
FROM rental r  
JOIN staff s on r.staff_id = s.staff_id  
JOIN store on store.store_id = s.store_id  
JOIN inventory i on i.inventory_id = r.inventory_id  
JOIN film_actor f on f.film_id = i.film_id  
JOIN actor a on a.actor_id = f.actor_id  
JOIN address on address.address_id = s.address_id  
GROUP BY name, s.store_id, address.address  
HAVING COUNT($*$)>1  
ORDER BY s.store_id) as T  
WHERE T.Store_id = 2    
ORDER BY number DESC  
LIMIT 1  

##### Output:
| Name | Store_id | Address | Number |
|------|----------|---------|--------|
| Susan Davis | 2 | 1411 Lillydale Drive | 404 |

### 5. What hour of the day to people rent the most ?

##### Query:  
SELECT EXTRACT(HOUR FROM rental_date) AS Rental_hour, COUNT($*$) AS number  
FROM rental  
GROUP BY Rental_hour  
HAVING COUNT($*$)>1  
ORDER BY number DESC  
LIMIT 1

##### Output:  
| Rental_hour | Number |
|-------------|--------|
|      15     |   887  |